div p 	{
	padding: 30px;
	text-align: center;
	border: 30px solid yellow;
	font-size: 20px;
}

.arriba 	{
	margin:0px;
	display:inline-block; ;
	height:80px;
	width:350px;
	margin-bottom: 100px;

}

.alcentro 	{
	margin:auto;
	margin-bottom: 100px;
	margin-top: 50px;
	height:80px;
	width:350px;
	display:;

}
/*Tengo dudas sobre cómo funcionan los márgenes y 
qué atributos son estrictamente necesarios de poner en caso
de ocupar div*/